body{
  background-image: url('../img/comp3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} 

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background: rgb(110,195,216);
    background: linear-gradient(0deg, rgba(110,195,216,1) 0%);;
    padding: 20px 10px;
  }
  /* Style the header links */
  .header a {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ffd9b2;
    color: black;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  h2{
    text-align: center;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #33110a;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 105px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr{background-color: #f2f2f2}
  
  th {
    background-color: #33110a;
    color: white;
    text-align: center;
  }


